 /* header style start */

header.site {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkblue;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 70px;
}

nav a {
    color: lightblue;
}

.h1-name {
    font-family: cursive;
    font-style: italic;
}
/* header style end */

.container {
    margin-top: 90px;
}

h1 {
    color: lightblue;
}

h2 {
    color: lightblue;
}

body {
    background-color: mediumblue;
}

.quote {
    font-family:cursive;
    font-weight: 100;
    text-align: center;
    margin-top: 130px;
    font-size: 2em;
    transform: rotate(-15deg);
    color: lightblue;
}

/* footer style start */

footer {
    font-family: sans-serif;
    font-size: 16px;
    border-top: solid 3px mediumblue;
    height: 66px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: darkblue;
    position: fixed;
    box-sizing: border-box;
    box-shadow: 0 -2px 3px -2px mediumblue;
    display: block;
    overflow: auto;
}

.media-link {
    height: 32px;
    margin-right: 50px;
}


    
